body{
    padding-top: 4.5rem;
}


.contenido{
	display: flex; 
        flex-direction: column; 
        height: 100vh;

}

.container-fluid{
	 flex: 1 0 auto;

}


.main {
  	height: 30px;
        flex-shrink: 0;  
}

#logoFooter{
	display:block;
	margin:auto;

}

#mapa {
      height: 100%;
}